:root {
  --checkbox-size: 18px;
  --bg-color: #333;
  --checkbox-color: #222;
  --hover-color: #333;
  --tick-color:#222;
}
.chekbox-label {
  display: inline-block;
  margin: 0 calc(var(--checkbox-size) * 0.25);
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border: calc(var(--checkbox-size) * 0.1) solid var(--checkbox-color);
  border-radius: 12.5%;
}

.chekbox-label:hover {
  border-color: var(--hover-color);
  cursor: pointer;
}

.chekbox[type="checkbox"] {
  position: absolute;
  left: -1000px;
}

.setactive {
  background-color: #222;
}
